*{
  font-family: "Hiragino Kaku Gothic ProN","メイリオ", sans-serif;
}

h1{
  color: red;
}

th,td {
    border: solid 1px;              /* 枠線指定 */
    padding: 10px 20px 10px 20px;      /* 余白指定 */
}

th{
  background-color: #ffe4c4;
}

table {
    border-collapse:  collapse;     /* セルの線を重ねる */
    /*border-collapse: separate;  /* 表の線と線の間を空ける */
}

.formTH{
  width: 20%;
  padding: 20px;      /* 余白指定 */
}

.formTD{
  width: 80%:
  padding: 20px;      /* 余白指定 */
}

.formTable{
  width: 100%;
}

.container{
  width: 700px;
}

.formText{
  width: 100%;
  height: 40px;
}

.formTextArea{
  height: 100px;
  width: 100%;
}

.square_btn{
    display: inline-block;
    padding: 0.5em 1em;
    text-decoration: none;
    background: #668ad8;/*ボタン色*/
    color: #FFF;
    border-bottom: solid 4px #627295;
    border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
    -ms-transform: translateY(4px);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);/*下に動く*/
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
    border-bottom: none;
}

.err{
	color: red;
}

